On {{ article.locale_date }}
{% if article.tags %}
with tags {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}<br/>
{% endif %}

{% if article.author %}
Written by <strong>{{ article.author }}</strong><br/>
{% endif %}

{% if article.translator %}
Translated by <strong>{{ article.translator }}</strong><br/>
{% endif %}

{% if article.artist %}
Artwork by <strong>{{ article.artist }}</strong><br/>
{% endif %}

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
